header{
   width: 100%;
   position: fixed;
   margin-top: -10px;
   background-color: black;
   text-align: center;
   flex-wrap: wrap;
}

.menu, a{
   color:white;
   padding: 1em;
}

.menu a:hover{
   background: darkgrey;
}

.document{
   padding-top: 2.5em;
}
